body{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width: 800px;
    margin: 0 auto;
    box-shadow: 0 -3px 2px black;
}
body >*{
    margin: 0;
    text-align: center;
}
.body_item{
    display: block;
    padding: 10px;
    background-color: lightgray;
    width: fit-content;
    margin: 30px auto;
    text-align: center;
    max-width: 50%;
}
.body_item p{
    margin: 0;
    margin-bottom: 26px;
    width: 100%;
    word-wrap: break-word;
}
.body_item input{
    margin-bottom: 26px;
    outline: none;
}
.body_item p:last-of-type{
    margin: 0;
}
.pwd{
    width: 100%;
    text-align: left;
}
.errors{
    color: red;
}
.success{
    color: green;
}
#errors{
    background-image: linear-gradient(rgb(230, 225, 220) 56%, rgb(138, 138, 138));
    position: absolute;
    font-size: 14pt;
    width: 200px;
    padding: 20px;
    border-radius: 3px;
    font-style: italic;
    box-shadow: 0 1px 5px black;
    box-sizing: border-box;
    left: 50%;
    transform: translate(-50%, -240px);
    opacity: 0;
}
.hasher{
    padding: 12px;
    box-sizing: border-box;
}
.hasher p{
    width: 100%;
    text-align: left;
}
.robot{
    font-family: 'Courier new';
    color: #464646;
    margin: 5px;
    text-shadow: 0 0 2px gray;
}
.pwChar{
    color:black;text-shadow:0 0 2px blue
}
.salt{
    color:black;text-shadow:0 0 2px orange
}
.body_item .bi_input{
    margin: 0 auto;
    display: block;
    font-size: 16pt;
    text-align: center;
    width: 300px;
    box-sizing: border-box;

}
.body_item button{
    font-size: 16pt;
    width: 300px;
    margin-top: 3px;
    padding: 10px 0;
}
.body_item h2{
    text-align: left;
    word-break: break-all;
}