body{
    margin: 0;
    padding: 10px 0;
    background-color: #0000002a;
}
::-webkit-scrollbar{
    display: none;
}
#centerpiece{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 800px;
    box-shadow: 0 0 30px gray;
    background-color: whitesmoke;
}
#header{
    margin: 0;
}
#menu{
    margin: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;

    flex-direction: column;
}
#menu .sub_title{
    margin: 30px 0 10px;
}
#menu .sub_title:first-of-type{
    margin: 10px 0 0;
    text-align: center;
    border-bottom: 1px solid gray;
}
#menu .link1{
    color: whitesmoke;
    text-shadow: 1px 1px 3px black;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px;
    border-left: 1px solid ;
    border-right: 1px solid ;
    border-color: rgba(0, 0, 0, 0.52);
    box-shadow: 0 0 1px black;
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.05);
    text-decoration: none;
    box-sizing: border-box;
}
#menu .link1:last-of-type{
    color: rgba(81, 85, 88, 0.349);
    text-shadow: 0 0 1px black;
    margin-top: 20px;
}
#menu .link1:hover{
    color: #cfcfcf;
    text-shadow: 0 0 2px black;
    background-color: #34e0e021;
    animation: slideIN forwards 0.5s;
}
#menu .link1:hover::after{
    white-space: pre;
    content: ' \2192';
    margin: 0;
    color: gray;
    text-shadow: none;
    animation: fadeIN forwards 1s;
}
@keyframes fadeIN {
    from{
        opacity: 0.0;
    }
    to {
        opacity: 1;
    }
}
#menu .link1:not(:hover){
    animation: slideOUT forwards 1s;
}
@keyframes slideOUT {
    from{
        padding-left: 35px;
        box-sizing: border-box;
    }
    to{
        padding-left: 10px;
        box-sizing: border-box;
    }
}
@keyframes slideIN {
    from{
        padding-left: 10px;
        box-sizing: border-box;
    }
    to{
        padding-left: 35px;
        box-sizing: border-box;
    }
}
#menu_icon{
    width: fit-content;
    height: fit-content;
}
.menu_icon{
    display: block;
    height: 5px;
    width: 35px;
    border-radius: 2px;
    background: rgb(88, 88, 88);
    margin: 3px 0;
    transform: 0.5s;
}
.menu_icon:first-of-type{
    margin: 0;
}
.menu_icon:last-of-type{
    margin: 0;
}

#menu #ct_btn{
    width: 100%;
    cursor: pointer;
}

#static_text{
    padding: 20px 10px;
}
h3{
    margin: 50px 0;
    text-align: center;
}
#introButton{
    outline: none;
    position: absolute;
    border: none;
    color: rgba(255,255,255,0.15);
    background: rgba(255,255,255,0.04);
    border-radius: 28px;
    box-shadow: 0 0 2px rgb(195, 195, 195);
    
    width: fit-content;
    padding: 8px 20px;
    font-size: 18pt;
    font-style: italic;
    cursor: pointer;
    justify-self: self-end;
    transform: translateX(-50%);
}

#introButton:hover{
    color: rgb(255,255,255);
    background: rgba(0, 0, 0, 0.32);
}