body{
    margin: 0;
}
::-webkit-scrollbar{
    display: none;
}
#centerpiece{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 800px;
}
#header{
    margin: 0;
    /* background: rgb(195, 195, 195); */
    background: linear-gradient(grey, black 10%,white 90%);
}
#menu >*{
    font-size: 14pt;
}
#menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 4px 0;
    margin: 0;
    height: 30px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.219), #626262 12%, #bbbbbb 82%, rgba(255, 255, 255, 0.157));
}
#menu .menu_btn{
    color: whitesmoke;
    text-shadow: 1px 1px 3px black;
    padding: 0;
    width: 100px;
    text-align: center;
    margin: 0 3px;
    border-left: 1px solid ;
    border-right: 1px solid ;
    border-color: rgba(0, 0, 0, 0.52);
    border-radius: 4px;
    background-color: rgba(0,0,0,0.067);
    box-shadow: 0 0 1px black;
    cursor: pointer;
}
#menu .menu_btn:first-of-type{
    margin-left: 0;
}
#menu .menu_btn:last-of-type{
    margin-right: 0;
}
.dropdown_menu{
    display: none;
    position: absolute;
    padding: 5px 2px;
    background-color: rgb(143, 189, 211);
    border-left: 1px solid ;
    border-right: 1px solid ;
    border-color: rgba(0, 0, 0, 0.52);
    border-radius: 8px;
    width: inherit;
    box-sizing: border-box;
}
.dropdown_menu .link1{
    text-decoration: none;
    color: rgb(234, 234, 245);
    text-shadow: none;
    word-wrap: break-word;
    padding: 0 4px;
    box-sizing: border-box;
}
.dropdown_menu .link1:hover{
    text-shadow: 1px 0 2px black;
    border-top: 1px solid ;
    border-bottom: 1px solid ;
    border-color: rgba(0, 0, 0, 0.52);
    border-radius: 8px;
    background-color: rgba(255,255,255,0.27);
}
#menu .menu_btn:hover{
    background-color: rgba(30, 169, 233, 0.1);
}
#menu .menu_btn:hover .dropdown_menu{
    display: flex;
    flex-direction: column;
}

#static_text{
    padding: 20px 10px;
}
#introButton{
    outline: none;
    position: absolute;
    border: none;
    color: rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.1);
    border-radius: 28px;
    box-shadow: 0 0 2px black;
    
    width: fit-content;
    padding: 8px 20px;
    font-size: 18pt;
    font-style: italic;
    cursor: pointer;
    justify-self: self-end;
    transform: translateX(-50%);
}

#introButton:hover{
    color: rgb(255,255,255);
    background: rgba(0, 0, 0, 0.32);
}