html, body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
html *{
    box-sizing: border-box;
}
#holder{
    width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
    height: 100%;
    display: grid;
    grid-template-rows: 5% auto;
    background-color:rgb(29, 28, 21);
}
#b-place{
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    box-shadow: 0 0 2px black;
    box-sizing: border-box;
    background-image: linear-gradient(-40deg, #e7dccb, #ece8e2);
}
#bible-box{
    width: auto;
    overflow: hidden;
    border: 1px solid gray;
    box-shadow: 0 0 2px black;
    box-sizing: border-box;
    padding: 2px;
    background-image: linear-gradient(-40deg, #e7dccb, #ece8e2);
}
@media only screen and (max-width: 600px) {
  #holder{
    width: 100%;
  }
}
