
html, body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
html *{
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-areas: "left center";
}
.left{
    grid-area: left;
    background-color: gray;
    display: flex;
    flex-direction: column;
    width: 100px;
}
.center{
    grid-area: center;
    overflow: hidden;
}

.translation{
    margin: 0;
    padding: 0;
    width: auto;
    height: 30px;

    background-color: white;

    border-top: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
    border-right: 2px solid #838383;
    border-bottom: 2px solid #838383;

    display: flex;
    justify-content: center;
    align-items: center;
}
#books{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.book{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 60px;
    
    border-top: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
    border-right: 2px solid #838383;
    border-bottom: 2px solid #838383;
}
#chapters{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.chapter{
    display: inline-flex;
    margin: 0;
    padding: 0;
    width: 40px;
    justify-content: center;
    align-items: center;
    
    border-top: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
    border-right: 2px solid #838383;
    border-bottom: 2px solid #838383;
    font-size: 160%;
}
#content{
    display: flex;
    flex-direction: row;
}
.contentL{
    overflow-y: scroll;
    min-width: 300px;
    max-width: 600px;
}
.contentR{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 600px;
    overflow-wrap: break-word;
}

.onverse{
    background-color: rgba(255, 255, 255, 0.171);
}
#chapters{
    margin-top: 10px;
    box-sizing: border-box;
}
#text{
    padding: 20px;
    margin: 0;
    width: 100%;
}
#verse{
    padding: 15px;
    overflow-y: scroll;
    margin: 0;
    width: 100%;
}
#verse p{
    padding: 3px 0;
    margin: 4px 0;
}
#verse p:hover{
    background-color: rgba(250, 128, 114, 0.233);
}
#verse p a{
    display:none;
    color: red;
    font-weight: bold;
    float: right;
}
#verse p:hover a{
    display:inline-block;
}
a{
    cursor: pointer;
}
f{
    display: none;
}

.savenote{
    width: 26px;
    height: 26px;
    background-image: url('./saveicon.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 2px 1px black;
    display: inline-block;
}
.overwrite{
    width: 26px;
    height: 26px;
    background-image: url('./overwrite.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 2px 1px black;
    display: inline-block;
}
.loadnote{
    width: 26px;
    height: 26px;
    background-image: url('./loadicon.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 2px 1px black;
    margin-left: 30px;
    display: inline-block;
}
.clearnote{
    width: 26px;
    height: 26px;
    background-image: url('./clearicon.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 2px 1px black;
    margin-left: 30px;
    display: inline-block;
}
.topdf{
    width: 26px;
    height: 26px;
    background-image: url('./topdf.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 2px 1px black;
    margin-left: 10px;
    display: inline-block;
}
#sanahaku{
    outline: none;
    font-size: 14pt;
}
#iComment{
    outline: none;
    width: 100%;
    font-size: 14pt;
}
input[type=checkbox]+label{
    float: right;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox]+label:before{
    content: "\2714";
    border-radius: 5px;
    margin-right: 7px;
    background-color: #0000004b;
    box-shadow: 0 0 2px black;
    color: transparent;
    font-size: 20px;
    cursor: pointer;
    border: 0.1em solid #0000003f;
}
input[type=checkbox]:checked+label:before{
    content: "\2714";
    background-color: #87cc2e;
    box-shadow: 0 0 4px rgb(0, 0, 0);
    color: black;
    border: 0.1em solid #0000003f;
}

@media only screen and (max-width: 1400px) {
    
    #text{
        margin: 0 auto 0 0;
    }
    #verse{
        margin: 0 0 0 auto;
    }
}