html{
    background: #140114
}
#titlearea{
    background-color: rgb(37, 37, 37);
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, 0.479);
    border-radius: 2px;
    box-shadow: 0 3px 13px black
}
#left-column{
    padding: 10px;
    display: inline-block;
    border:1px solid rgba(0, 0, 0, 0.35);
    background-color: rgb(54, 54, 54);
    text-align: center;
}
#right-column{
    display: inline-block;
    grid-template-columns: 180px;
}

#gamegridarea{
    width: 800px;
    height: 600px;
    margin: 0 auto;
    padding: 3px;
}
#gametitle{
    display: inline-block;
    margin:0 80px 0 0;
    padding: 5px;
    text-shadow: 1px 1px 3px black;
    color: rgb(113, 156, 161);
}
/* Start journey button */
#start{
    padding:10px;
    display: inline-block;
    font-variant-caps: all-petite-caps;
    background-image: linear-gradient(160deg, rgb(70, 0, 70), rgb(0, 0, 95));
    font-size:18pt;
    text-align: center;
    color: rgb(113, 156, 161);
    text-shadow: 1px 1px 1px black;
    margin: 5px auto;
    padding: 5px 20px;
    width: 250px;
    border:none;
    box-shadow: 1px 1px 3px black;
    border-radius: 3px;
    position: absolute;
}
#start:hover{
    background-image: linear-gradient(160deg, rgb(70, 0, 70, 0.9), rgb(0, 0, 95, 0.9));
    box-shadow: 1px 1px 7px black;
}
/* -end- */

/* LEF COLUMN AREA */
#stepCount{
    margin: 6px 0;
    padding: 0;
    display: inline-block;
    color: rgb(39, 64, 68);
    text-shadow: 1px 1px rgb(230, 230, 230);
    font-size: 22pt
}
#gameTxtArea{
    padding: 15px 20px;
    background-image: linear-gradient(180deg, rgb(82, 82, 82, 0.6), rgba(245, 245, 245, 0.698), rgba(82, 82, 82, 0.6));
    border-radius: 2px;
    width: fit-content;
    max-width: 300px;
    display: none;
    box-shadow: 1px 1px 5px black;
    position: relative;
    left:0;
    margin: 0;
    text-align: left;
}
#gameTxt{
    padding: 0;
    margin: 0;
    color: rgb(207, 175, 93);
    text-shadow: 1px 1px 1px black;
    font-size: 12pt
}
#oppLvl{
    color:rgb(165, 165, 165);
    text-shadow: 1px 1px black;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px 0;
}
#actionArea{
    display: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 270px;
    text-align: center;
    border-radius: 3px;
}
#actionquestion{
    margin: 0 0 10px 0;
}
.action-button{
    border-top: 1px solid rgb(0, 0, 107);
    border-left: 1px solid rgb(0, 0, 75);
    border-right: 1px solid rgb(0, 0, 31);
    border-bottom: 1px solid rgb(0, 0, 31);
    border-radius: 3px;
    padding: 5px 20px
}
.yes{
    background-color: rgba(144, 238, 144, 0.75);
}
.no{
    background-color: rgba(250, 128, 114, 0.75);
}
/* -end- */

/* RIGHT COLUMN AREA */
#stats{
    border:1px solid rgba(0, 0, 0, 0.35);
    background-color: rgb(54, 54, 54);
    display: grid;
    grid-template-columns: auto 35%;
    grid-column-gap: 2px;
    padding: 5px;
}
#stats p{
    margin: 0;
    color: grey;
    font-size: 14pt;
    text-shadow: 1px 1px black;
    border:1px solid rgba(0, 0, 0, 0.445);
    text-transform: capitalize;
}
#itemsholder{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 1px;
}
#itemsBox{
    border:1px solid rgba(0, 0, 0, 0.35);
    background-color: rgb(54, 54, 54);
    padding: 5px;
    margin: 0;
}
#itemsBox p{
    margin: 0;
    box-shadow: 1px 1px 3px black;
    width: fit-content;
    padding: 2px 4px;
    border-radius: 3px;
    background-image: linear-gradient(175deg, rgb(88, 88, 88), rgb(20, 20, 44));
    display: none;
    font-variant-caps: all-petite-caps;
}
#itemsBox .ptitle{
    font-size: 125%;
    font-weight: bold;
    color: rgb(0, 0, 0);
    display: block;
    font-variant-caps: none;
    margin-bottom: 5px;
}
#thesword{
    display: none;
}
#theshield{
    display: none;
}
#thehelmet{
    display:block;
}
/* -end- */
.death{
    margin:0;
    padding:0;
    position:relative;
    left:50%;
    top:-20px;
    transform:translatex(-50%);
    color:darkred;
    font-size:50pt;
    height: 50px;
}
.skull{
    transform:translateY(-90px);
    margin: 0;
    padding: 0;
}