#blackhole{
    background-image: radial-gradient(rgba(255, 255, 255, 0), black);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    width: 150px;
    height: 150px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 0 40px black;

    /* Css animation */
    animation-name: blackhole;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
@keyframes blackhole{
    0% {
        background-size: 100% 100%; 
    }
    50% {
        background-size: 200% 200%;
    }
    100% {
        background-size: 100% 100%; 
    }
}
#item{
    background-color: green;
    position: absolute;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
input{
    width: 50px;
}
span{
    position: relative;
    left:30%;
    top: 55%;
}
.pyrsto{
    width: 10px;
    height: 10px;
    background-image: radial-gradient(rgba(255, 255, 255, 0), black);
    opacity: 0.0;
    filter: blur(12px);
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);

    animation-name: pyrsto;
    animation-duration: 750ms;
    animation-timing-function: linear;
}
@keyframes pyrsto{
    from {
        opacity: 0.35;
    }
    to {
        height: 200px;
        width: 200px;
        opacity: 0;
    }
}